

html {
    font-family: 'Montserrat';
    font-weight: 700;
}

input {
    border: 0px solid transparent;
    background-color: transparent;
}

.informacion_cliente {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    color: white;
    height: 200px;
}

.datos_cliente {
    font-style: italic;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.title_solicitud {
    margin-bottom: -15px;
}

.pedido {
    display: flex;
    align-items: center;
}

.datos_pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.holder_pedido {
    font-size: 16px;
    width: 120px;
    height: 20px;
    margin-left: 5px;
}

.holder_pedido::placeholder {
    color: white;
}

.pedido_1 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.pedido_2 {
    display: flex;
}

.tabla_pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabla_pedido_tracking {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-direction: row;
    background-color: #293963;
}

.tabla_pedido_tracking-time {
    background-color: #d1d1d1;
}


.tabla_pedido_tracking-time td,th{
    text-align: left;
    margin-left: 20px;
}

.tabla_pedido_tracking-time input {
    color: #414141;
    text-align: left;
}

.input::placeholder {
    color: #414141;
    font-size: 18px;
    font-style: italic;
}

.tabla_pedido_tracking-time table {
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.main_1 {
    background-color: #d1d1d1;
    text-align: center;
}

.main_2 {
    margin-top: -15px;
    text-align: center;
}

.table_main_2 {
    margin-top: -18px;
    width: 100%;
}

.table_main_2 td {
    text-align: left;
    padding-left: 30px;
    padding-top: 5px;
}

.table_main_2 input {
    text-align: left;
}

.table_main_3 {
    width: 100%;
}

.restricciones {
    text-align: center;
}

.table_main_3 td {
    text-align: left;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}

.main_3 {
    margin-top: -15px;
}

.main_4 {
    margin-top: -15px;
}

.title {
    margin-bottom: 5px;
}

.title > h2 {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.font-bold {
    font-weight: 900;
    color: #414141;
}

.input_tax input {
    margin-left: 20px;
}

.font_bold_2 {

    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #ffff;
}


.font_bold_3 {
    width: 150px;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: #ffff;
}

.main_5 {
    margin-top: -10px;
}

#title {
    margin-top: 10px;
    background-color: #e6e5e5;
}

.detalles_tarifa {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.detalles_tarifa-1 {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    width: 50%;
    background-color: #293963;
}

.detalles_tarifa-2 {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
}

.precio_final {
    width: 255px;
}

.tax {
    text-align: end;
}

.detalles_1 {
    padding-top: 5px;
    margin-right: 50px;
}

.spacing_input {
    padding-left: 10px;
}

.detalles {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -140px;
}

.detalles_tarifa-2_impuesto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalles_tarifa-2_precio_final{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293963;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#td_gray_1 {
    background-color: #eeeded;
    color: #414141;
}

#td_gray {
    background-color: #d1d1d1;
    color: #414141;
}

#td_blue {
    background-color: #293963;
    color: white;
}

.letra_pedido_tracking-input {
    font-size: 18px;
    color: #ffff;
    font-weight: 400;
    font-style: italic;
}

.letra_pedido_tracking-input-2 {
    font-size: 20px;
    color: #ffff;
    font-weight: 900;
}

.letra_pedido_tracking-input::placeholder {
    color: #ffff
}

.letra_pedido_tracking-label {
    font-size: 20px;
    color: #ffff;
}

.letra_pedido_tracking-label-2 {
    color: #ffff;
}


#td_doble {
    display: flex;
    background-color: #293963;
    color: white;
}

#td_doble_2 {
    display: flex;
    align-items: center;
    background-color: #293963;
    color: white;
}

#label {
    color: #414141;
}


.terminos {
    margin-top: -30px;
}

.text {
    text-align: justify;
    font-weight: 400;
    letter-spacing: -1px;
    padding: 20px;
}

.input_width {
    width: 50%;
}

.letra_pequena {
    font-size: 12px;
}

.usd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 10px
}

.tabla_detalles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    color: #293963;
}