input {
    border: 0px solid transparent;
    background-color: transparent;
}

.informacion_cliente {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: #3c3c3c;
    color: white;
    height: 200px;
}

.datos_cliente {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.pedido {
    display: flex;
    align-items: center;
}

.datos_pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.holder_pedido {
    font-size: 16px;
    width: 120px;
    height: 20px;
    margin-left: 5px;
}

.holder_pedido::placeholder {
    color: white;
}

.pedido_1 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.pedido_2 {
    display: flex;
}

.tabla_pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabla_pedido_tracking {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: blue;
}

.tabla_pedido_tracking-time {
    background-color: #98999C;
}


.tabla_pedido_tracking-time td,th{
    text-align: left;
    margin-left: 20px;
}

.tabla_pedido_tracking-time input {
    text-align: left;
}
.tabla_pedido_tracking-time table {
    width: 100%;
}


/* .prueba {
    display: flex;
    height: 50%;
    align-items: center;
    background-color: #98999C;
    justify-content: space-between;
} */

.title_tabla_pedido {
    text-align: center;
    height: 10px;
    font-weight: bold;
}

.main_1 {
    background-color: #98999C;
    text-align: center;
}

.main_2 {
    text-align: center;
}

.table_main_2 {
    width: 100%;
    border: #b2b2b2 1px solid;
}

.table_main_2 td, th{
    border: #b2b2b2 1px solid;
    text-align: left;
    padding-left: 10px;
}

.table_main_2 input {
    text-align: left;
}

#td_gray {
    background-color: #98999C;
}

#td_blue {
    background-color: blue;
    color: white;
}

#letra_pedido_tracking {
    font-size: 20px;
}