
:root {
    --font_white: #ffff;
    --gray-1: #3c3c3c;
    --gray-2: #414141;
    --gray-3: #eeeded;
    --gray-4: #d1d1d1;
    --blue: #293963;
}


html {
    font-family: 'Montserrat';
    font-weight: 700;
}

input {
    border: 0px solid transparent;
    background-color: transparent;
}

.cabezera_icons {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.cabezera_contacto {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.cabezera p {
    font-size: 10px;
}

.correo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.web {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_icono {
    margin: 5px;
    width: 30px;
    height: 30px;
}


.contenedor_img_logo {
    width: 200px;
    height: 200px;
}

.contenedor_img_logo_2 {
    width: 600px;
    height: 150px;
}

.contenedor_img_logo_3 {
    position: absolute;
    margin-left: 1200px;
    margin-bottom: 10px;
    width: 90px;
    height: 90px;
}

.contenedor_vector {
    position: absolute;;
    /* width: 100px;
    height: 100px; */
    height: 100px;
    margin-right: 1550px;
    margin-bottom: -60px;
}

img {
    width: inherit;
    height: inherit;;
}


.vector {
    object-fit: cover;
    object-position: right;
}

.informacion_cliente {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-1);
    color: var(--font_white);
    height: 200px;
}

.datos_cliente {
    font-style: italic;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.title_solicitud {
    margin-bottom: -15px;
}

.pedido {
    display: flex;
    align-items: center;
}

.datos_pedido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.holder_pedido {
    font-size: 16px;
    width: 120px;
    height: 20px;
    margin-left: 5px;
}

.pedido_1 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}

.pedido_2 {
    display: flex;
}

.tabla_pedido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabla_pedido_tracking {
    display: flex;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    flex-direction: row;
    background-color: #293963;
}

.tabla_pedido_tracking-time {
    background-color: #d1d1d1;
}


.tabla_pedido_tracking-time td,th{
    text-align: left;
    margin-left: 20px;
}

.tabla_pedido_tracking-time input {
    color: var(--gray-2);
    text-align: left;
}

.tabla_pedido_tracking-time table {
    padding-left: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.table {
    margin-top: -15px;
    text-align: center;
}

.table_2 {
    margin-top: -15px;
}
.table_main_2 {
    margin-top: -18px;
    width: 100%;
}

.table_main_2 td {
    text-align: left;
    padding-left: 30px;
    padding-top: 5px;
}

.table_main_2 input {
    text-align: left;
}

.table_main_3 {
    width: 100%;
}

.restricciones {
    text-align: center;
}

.table_main_3 td {
    text-align: left;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 20px;
}

.center {
    text-align: center;
}


.title {
    margin-bottom: 5px;
}

.title > h2 {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.font-bold {
    font-weight: 900;
    color: var(--gray-2);
}

.input_tax input {
    margin-left: 20px;
}

.font_bold_2 {

    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: var(--font_white);
}


.font_bold_3 {
    width: 150px;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color: var(--font_white);
}

#title {
    margin-top: 10px;
    background-color: #e6e5e5;
}

.detalles_tarifa {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.detalles_tarifa-1 {
    display: flex;
    margin-right: 10px;
    justify-content: center;
    width: 50%;
    background-color: var(--blue);
}

.detalles_tarifa-2 {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-1);
}

.precio_final {
    width: 255px;
}

.tax {
    text-align: end;
}

.detalles_1 {
    padding-top: 5px;
    margin-right: 50px;
}

.spacing_input {
    padding-left: 10px;
}

.detalles {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: -140px;
}

.detalles_tarifa-2_impuesto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detalles_tarifa-2_precio_final{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #293963;
}


#td_gray {
    background-color: var(--gray-4);
    color: #414141;
}

#td_gray_1 {
    background-color: var(--gray-3);
    color: #414141;
}


#td_blue {
    background-color: var(--blue);
    color: var(--font_white);
}

.letra_white {
    font-size: 18px;
    color: var(--font_white);
    font-weight: 400;
    font-style: italic;
}

.letra_white_2 {
    font-size: 20px;
    color: var(--font_white);
    font-weight: 900;
}

.letra_pedido_tracking-label {
    font-size: 20px;
    color:var(--font_white);
}

.letra_pedido_tracking-label-2 {
    color:var(--font_white);
}


#td_doble {
    display: flex;
    background-color: var(--blue);
    color: var(--font_white);
}

#td_doble_2 {
    display: flex;
    align-items: center;
    background-color: var(--blue);
    color: var(--font_white);
}

#label {
    color: var(--gray-2);
}


.terminos {
    margin-top: -30px;
}

.text {
    text-align: justify;
    font-weight: 400;
    letter-spacing: -1px;
    padding: 20px;
}

.input_width {
    width: 50%;
}

.letra_pequena {
    font-size: 12px;
}

.usd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-top: 10px
}

.tabla_detalles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.footer {
    color: var(--blue);
}